.login-container {
    background-color: #F1F2F3;
    height: 92vh;
}

.form-container {
    background-color: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 50px 10px #DBDBDC;
    text-align: left;
}

.icon {
    width: 50px;
    height: 50px;
}

.login-text {
    font-size: 16px;
    font-weight: bold;
}

.login-button {
    width: 100%;
    background: #0D96FF;
    border: 2px solid #0D96FF;
}

.register-text {
    font-size: 14px;
    color: black;
}

a:link {
    text-decoration: none;
}